@import "../_variables.scss";

$width: 300px;

.selector-panel {
  background-color: $color-white;
  border-radius: 15px;
  padding: $spacing-5;
  width: $width;

  &__top {
    margin: -$spacing-5;
    margin-bottom: 0;
    color: $color-purple-dark;

    .item {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: $width * 0.4;
      border-bottom: solid 1px $color-white-2;

      &:nth-child(odd) {
        border-right: solid 1px $color-white-2;
      }

      &__label {
        padding-top: $spacing-3;
      }
    }
  }

  .adjustments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $spacing-7 0;

    &__title {
      text-transform: uppercase;
      font-weight: 600;
      color: $color-purple-dark-3;
      margin-bottom: $spacing-5;
    }
  }
}
